<section class="pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>اللغــة العربيـــة</nz-breadcrumb-item>
                    <nz-breadcrumb-item><a [routerLink]="'/lessons/lesson-details'">المرحلـــة الأولـــى</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>الدرس الأول</nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
        </div>
        <div class="row  d-flex justify-content-center pt-5">
            <div class="col-6">
                <h1>المـدود الطويلـــة و القصيـــرة</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="new" class="iframe"></div>
        </div>
    </div>
</section>

