<!-- <section class="class-details-area pt-100 pb-70">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-12">
                <div class="class-details-desc">
                    <div class="class-desc-image text-center">
                        <img src="assets/img/classes/12.png" alt="image">
                    </div>

                    <div class="tab class-details-tab">
                        <div class="row mt-5">
                            <div class="col-lg-12 col-md-12">
                                <ul class="tabs active">
                                    <li class="current">
                                        <a href="#">
                                            Description
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            Teacher
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            Lesson
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            Cost
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="tab_content">
                                    <div class="tabs_item" style="">
                                        <div class="class-desc-content">
                                            <h3>Education Lessons</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>English Lesson Class</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>Requirements</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <ul class="requirements-list">
                                                <li>
                                                    <i class="bx bx-check"></i> Aliquam sit amet mi vitae turpis gravida vulputate.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Proin a orci nec sapien condimentum imperdiet.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Suspendisse viverra lectus eu augue efficitur pulvinar.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Mauris a purus ut mauris sodales ultrices.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabs_item" style="display: none;">
                                        <div class="class-desc-content">
                                            <h3>Education Lessons</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>English Lesson Class</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>Requirements</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <ul class="requirements-list">
                                                <li>
                                                    <i class="bx bx-check"></i> Aliquam sit amet mi vitae turpis gravida vulputate.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Proin a orci nec sapien condimentum imperdiet.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Suspendisse viverra lectus eu augue efficitur pulvinar.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Mauris a purus ut mauris sodales ultrices.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabs_item" style="display: none;">
                                        <div class="class-desc-content">
                                            <h3>Education Lessons</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>English Lesson Class</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>Requirements</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <ul class="requirements-list">
                                                <li>
                                                    <i class="bx bx-check"></i> Aliquam sit amet mi vitae turpis gravida vulputate.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Proin a orci nec sapien condimentum imperdiet.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Suspendisse viverra lectus eu augue efficitur pulvinar.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Mauris a purus ut mauris sodales ultrices.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabs_item" style="display: none;">
                                        <div class="class-desc-content">
                                            <h3>Education Lessons</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>English Lesson Class</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <h3>Requirements</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>

                                            <ul class="requirements-list">
                                                <li>
                                                    <i class="bx bx-check"></i> Aliquam sit amet mi vitae turpis gravida vulputate.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Proin a orci nec sapien condimentum imperdiet.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Suspendisse viverra lectus eu augue efficitur pulvinar.
                                                </li>
                                                <li>
                                                    <i class="bx bx-check"></i> Mauris a purus ut mauris sodales ultrices.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="class-details-information">
                    <h3>Information</h3>

                    <ul>
                        <li>
                            <span>Student:</span> 25
                        </li>
                        <li>
                            <span>Lectures:</span> 6
                        </li>
                        <li>
                            <span>Time:</span> 9AM - 11:30AM
                        </li>
                        <li>
                            <span>Learn Day:</span> Monday, Wednesday
                        </li>
                        <li>
                            <span>Language:</span> English
                        </li>
                    </ul>
                </div>

                <div class="class-newsletter">
                    <div class="newsletter-content">
                        <h3>Subscribe to Our Newsletter</h3>
                    </div>

                    <form class="newsletter-form" data-bs-toggle="validator" novalidate="true">
                        <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">

                        <button type="submit" class="disabled" style="pointer-events: all; cursor: pointer;">Subscribe</button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="pt-100 pb-70" *ngIf="allClasses.length !== 0">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="class-description">
                    <h1>
                        اللغـــة العربيــــة
                    </h1>
                    <h3 class="mt-4">
                        لغـــةٌ إذا وقَعَـــت على أسماعنا كانت لنا برداً على الأكبـــاد
                    </h3>

                    <h3 class="text-center mt-4">إنهــا لغــةُ الضــاد اللغــةُ العربيّــة</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="class-desc-image text-center">
                    <img src="assets/img/classes/12.png" alt="image">
                </div>
            </div>
        </div>

        <div style="position: relative;">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="text-center">سيتــم إعطاء المادة على عدة مراحـــل</h3>
                </div>
                <div class="row class-list">
                    <div class="col-md-6 mt-5" *ngFor="let class of allClasses">
                        <div class="card p-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="single-facilities row d-flex justify-content-between align-items-center">
                                        <div class="col-6">
                                            <div class="number">
                                                <span>{{class?.sessionNumber}}</span>
                                            </div>
                                            <div class="facilities-content ">
                                                <h3 class="number">
                                                    <h3>{{class?.name}} :</h3>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-6  d-flex justify-content-end" *ngIf="isTeacher">
                                            <a class="default-btn" (click)="AddSession(class)">
                                                إنشاء درس
                                            </a>
                                        </div>
                                    </div>
                                    <h6> {{ class?.description}}
                                    </h6>
                                    <span class="d-flex mt-3 justify-content-between px-4">
                                        <p>تاريخ البدء : {{class?.startDate}}</p>
                                        <p>تاريخ الانتهاء : {{class?.endDate}}</p>
                                    </span>
                                    <span class="d-flex mt-1 justify-content-between px-4">
                                        <p> عدد الطلاب : {{class?.maxStudent}}</p>
                                        <p> السعر: {{class?.price}} $</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="value-shape d-none d-md-block ">
                    <div class="shape-1" style="animation-delay:3.5s">
                        <img src="assets/img/classes/value-shape-1.png " alt="image ">
                    </div>
                    <div class="shape-2" style="animation-delay:3.5s">
                        <img src="assets/img/classes/value-shape-2.png " alt="image ">
                    </div>
                    <div class="shape-3">
                        <img src="assets/img/classes/value-shape-3.png " alt="image ">
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-12 mt-5">
                <h3 class="text-center">سيتخلل هذه المراحل فقرات يعرض فيها أناشيــد عن اللغــة العربيـــة أو فقرات مسرحيــة تعلم حروف اللغة أو غيرها من دروس اللغة</h3>
                <h3 class="text-center my-5">
                    أتمنى منكــم المتابعة لنحصل على جيل متقنٍ للغة الأجداد و الاباء فهم خير خَلــف لخير سلــف.
                </h3>
            </div>
        </div>

        <div class="row" *ngIf="isStudent">
            <div class="col-md-12 text-center">
                <a class="default-btn" (click)="registerClass()">
                    قم بالتسجيل الان
                </a>
            </div>
        </div>
    </div>
</section>


<section *ngIf="allClasses.length == 0" class="pt-100 pb-70">
    <div class="col-md-12 mt-5 text-center">
        <h1>لا يوجد دروس</h1>
    </div>
</section>