<div class="container pt-100">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="profile-img">
                        <img src="assets/avatar.png" class="img-fluid">
                    </div>
                    <div class="profile-details my-3">
                        <h4 class="font-weight-bold my-3">علي الجندي</h4>
                        <span class="my-3 d-flex justify-content-start">
                            <i nz-icon nzType="calendar" nzTheme="outline" class="mx-3"></i>
                            <h6>08-02-1996</h6>
                        </span>
                        <span class="my-3 d-flex justify-content-start">
                            <i nz-icon nzType="mail" nzTheme="outline" class="mx-3"></i>
                            <h6>ali.aljndi283@gmail.com</h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4> الدورات المسجلـــة</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="font-weight-bold"> 1 - اللغة العربية</h4>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h6>- المرحلة الأولـــى</h6>
                                    <nz-progress [nzPercent]="100"></nz-progress>
                                </div>

                                <div class="col-12 mt-3">
                                    <h6>- المرحلة الثانيـــة</h6>
                                    <nz-progress [nzPercent]="50"></nz-progress>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card my-3">
                        <div class="card-body">
                            <h4 class="font-weight-bold"> 2 - الحساب الذهنـــي</h4>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h6>- المرحلة الأولـــى</h6>
                                    <nz-progress [nzPercent]="60"></nz-progress>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>