/*----------------------Body------------------*/

body {
    font-family: 'Tajawal', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-100 {
    padding-top: 70px;
}


/*----------------------Main Banner------------------*/

.main-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 50px;
    background-color: #f5edec;
    height: 860px;
    min-height: 860px;
}

.main-banner-item.banner-item-two {
    background-image: unset;
    background-color: #f5edec;
}

.main-banner-image-wrap {
    position: relative;
    text-align: center;
    z-index: 1;
}

.main-banner-image-wrap .banner-image-wrap-shape {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    left: 0;
    right: 0;
}

.main-banner-content {
    max-width: 630px;
    margin-left: auto;
}

.main-banner-content span {
    font-size: 16px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.main-banner-content h1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-banner-content .banner-btn {
    margin-top: 25px;
}

.default-btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #ea512e;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.default-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #f5890d;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
}

.optional-btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #f5890d;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.optional-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #ea512e;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
}

// shape
.main-banner-shape .shape-5 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 210px;
}

.main-banner-shape .shape-2 {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    max-width: 100px;
    -webkit-animation: moveLeftBounce 3s linear infinite;
    animation: moveLeftBounce 3s linear infinite;
}

.main-banner-shape .shape-4 {
    position: absolute;
    bottom: 30px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    max-width: 100px;
    -webkit-animation: moveBounce 5s linear infinite;
    animation: moveBounce 5s linear infinite;
}

.main-banner-shape .shape-6 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    max-width: 230px;
}


/*----------------------Who we are------------------*/

.who-we-are {
    position: relative;
    z-index: 1;
    // background-color: #f5edec;
}

.who-we-are-content span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.who-we-are-content .who-we-are-list {
    padding-left: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.who-we-are-content .who-we-are-list li {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #1b0238;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 5px;
}

.who-we-are-image-wrap>img {
    mix-blend-mode: multiply;
}

.who-we-are-content .who-we-are-btn {
    margin-top: 30px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*----------------------class-area------------------*/

.class-area {
    position: relative;
    z-index: 1;
}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.section-title h2 {
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0;
}

.single-class {
    margin-bottom: 30px;
    border-radius: 5px;
}

.single-class .class-image {
    overflow: hidden;
}

.single-class .class-image img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px 5px 0 0;
}

.single-class .class-content {
    background-color: #ffffff;
    padding: 45px 30px 30px;
    position: relative;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}

.single-class .class-content .price {
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: #ea512e;
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    border-radius: 0 0 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-class .class-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.single-class .class-content h3 a {
    color: #1b0238;
}

.single-class .class-content .class-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #ea512e;
}

.single-class .class-content .class-list li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-right: 15px;
}

.single-class .class-content .class-btn {
    margin-top: 25px;
}

.class-shape .shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.class-shape .shape-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/*----------------------class-area------------------*/

.event-area.bg-ffffff {
    background-image: url(/assets/img/events/event1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.event-area.bg-ffffff::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    opacity: .30;
    z-index: -1;
}

.event-area .section-title span {
    color: #ffffff;
}

.event-area .section-title h2 {
    color: #ffffff;
}

.event-area.bg-color .event-box-item {
    padding: 35px 15px;
}

.event-box-item {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.event-box-item .event-content h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.event-box-item .event-content .event-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.event-box-item .event-content .event-list li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    margin-bottom: 12px;
    padding-left: 25px;
}

.event-box-item .event-content .event-list li i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #ea512e;
}

.event-box-item .event-date {
    text-align: center;
}

.event-box-item .event-date h4 {
    font-size: 80px;
    color: #ea512e;
    margin-bottom: 0;
}

.event-box-item .event-date span {
    font-size: 20px;
    color: #ea512e;
    margin-top: 10px;
    font-weight: 500;
}

.event-box-item .event-content h3 a {
    color: #1b0238;
}


/*----------------------.facilities-area------------------*/

.facilities-area {
    position: relative;
    z-index: 1;
}

.single-facilities {
    position: relative;
    margin-bottom: 30px;
}

.single-facilities .number span {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #1b0238;
    background-color: #ea512e;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: bold;
}

.single-facilities .number span::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    line-height: 70px;
    border: 1px solid #ea512e;
    border-radius: 50px;
    top: -5px;
    left: -5px;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-facilities .facilities-content {
    padding-left: 88px;
}

.single-facilities .facilities-content h3 {
    font-size: 25px;
    margin-bottom: 12px;
}

.single-facilities .facilities-content h3 a {
    color: #1b0238;
}

.single-facilities .number .bg-2 {
    background-color: #fdbea8;
}

.single-facilities .number .bg-2::before {
    border: 1px solid #fdbea8;
}

.single-facilities .number .bg-3 {
    background-color: #b6fdd6;
}

.single-facilities .number .bg-3::before {
    border: 1px solid #b6fdd6;
}

.single-facilities .number .bg-4 {
    background-color: #fd91a8;
}

.single-facilities .number .bg-4::before {
    border: 1px solid #fd91a8;
}

.single-facilities .number .bg-5 {
    background-color: #fce0ad;
}

.single-facilities .number .bg-5::before {
    border: 1px solid #fce0ad;
}

.single-facilities .number .bg-6 {
    background-color: #cca0fe;
}

.single-facilities .number .bg-6::before {
    border: 1px solid #cca0fe;
}

.value-shape .shape-1 {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: -1;
}

.value-shape .shape-2 {
    position: absolute;
    left: 20px;
    z-index: -1;
    bottom: 30px;
}

.value-shape .shape-3 {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}


/*----------------------Animations------------------*/

@keyframes moveLeftBounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveBounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}