<div class="main-banner">
    <div class="container h-75">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-lg-6">
                <!-- style="animation-delay:0.5s" -->
                <div class="main-banner-content">
                    <!-- <span>{{ 'intro1' | translate }}</span> -->
                    <h1 class="animated animate__fadeInDown text-sred">{{ 'intro2' | translate }}</h1>
                    <p class="banner-btn" class="animated animate__fadeInUpBig"> {{ 'intro3' | translate }}.</p>

                    <div class="banner-btn" class="animated animate__fadeInUpBig" *ngIf="!utility.isLogin">
                        <a href=" # " class="default-btn m-2 " [routerLink]=" '/account/login' ">
                            {{ 'JoinClass' | translate }}
                        </a>
                        <!-- <a class="optional-btn m-2 ">
                            Find Out More
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class=" main-banner-image-wrap ">
                    <img src="assets/img/main-banner/main-banner-1.png " alt="image ">

                    <div class="banner-image-wrap-shape ">
                        <img src="assets/img/main-banner/main-banner-shape-1.png " alt="image ">
                    </div>
                </div>
            </div>
        </div>

        <div class="main-banner-shape d-none d-md-block ">
            <!-- <div class="shape-5 ">
                <img src="assets/img/main-banner/banner-shape-5.png " alt="image ">
            </div> -->

            <div class="shape-2 ">
                <img src="assets/img/main-banner/banner-shape-2.png " alt="image ">
            </div>

            <div class="shape-6 ">
                <img src="assets/img/main-banner/banner-shape-6.png " alt="image ">
            </div>

            <div class="shape-4 ">
                <img src="assets/img/main-banner/banner-shape-4.png " alt="image ">
            </div>
        </div>
    </div>
</div>


<div class="section mcb-section mcb-section-pq0szq3va  no-margin-h no-margin-v full-width" style="">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap mcb-wrap-pav2upl6t one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-zl16caeg9 one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/img/pic/sectionsep2.png" alt="kindergarten3-sectionsep1" title="" width="1920" height="200"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="who-we-are pt-100 pb-100 bg-sred">
    <div class="container ">
        <div class="row align-items-center ">

            <div class="col-lg-6 ">
                <div class="who-we-are-image-wrap text-center ">
                    <img src="assets/img/pic/12344.png" alt="image " class="animated animate__zoomIn text-sred" style="animation-delay:1.5s">
                </div>
            </div>

            <div class="col-lg-6 ">
                <div class="who-we-are-content " class="animated animate__fadeInUp" style="animation-delay:1.5s">
                    <h1 class="text-white mt-5">{{ 'JoinUs' | translate}}</h1>
                    <p class="text-white">{{ 'JoinDescription' | translate}}</p>
                    <div class="who-we-are-btn mt-3">
                        <a [routerLink]=" '/account/register' " class="default-btn1 ">{{ 'JoinNow' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="section mcb-section mcb-section-pq0szq3va  no-margin-h no-margin-v full-width" style="">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap mcb-wrap-pav2upl6t one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-zl16caeg9 one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/img/pic/sectionsep1.png" alt="kindergarten3-sectionsep1" title="" width="1920" height="200"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="facilities-area pt-100 pb-70 ">
    <div class="container ">
        <div class="section-title ">
            <span class="animated animate__zoomIn" style="animation-delay:3s">{{'WhyChooseUs' | translate}}</span>
            <h2 class="animated animate__zoomIn" style="animation-delay:3s">{{ 'BestFacilitiesForKids' | translate}}</h2>
        </div>

        <div class="row align-items-center ">
            <div class="col-lg-4 ">
                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span>01</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="number animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Active Learning</a>
                        </h3>
                    </div>
                </div>

                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span class="bg-2 ">02</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="number animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Safe Environment</a>
                        </h3>
                    </div>
                </div>

                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span class="bg-3 ">03</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="number animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Fully Equipment</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="facilities-image ">
                    <img src="assets/img/classes/child1.jpg" alt="image " style="mix-blend-mode: multiply; " class="number animated animate__zoomIn" style="animation-delay:4s">
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span class="bg-4 ">04</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Expert Teacher</a>
                        </h3>
                    </div>
                </div>

                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span class="bg-5 ">05</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Art Class</a>
                        </h3>
                    </div>
                </div>

                <div class="single-facilities ">
                    <div class="number animated animate__zoomIn" style="animation-delay:3.5s">
                        <span class="bg-6 ">06</span>
                    </div>
                    <div class="facilities-content ">
                        <h3 class="animated animate__zoomIn" style="animation-delay:3.5s">
                            <a>Sport Section</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="value-shape d-none d-md-block ">
        <div class="shape-1 animated animate__slideInLeft" style="animation-delay:3.5s">
            <img src="assets/img/classes/value-shape-1.png " alt="image ">
        </div>
        <div class="shape-2 animated animate__slideInLeft" style="animation-delay:3.5s">
            <img src="assets/img/classes/value-shape-2.png " alt="image ">
        </div>
        <div class="shape-3">
            <img src="assets/img/classes/value-shape-3.png " alt="image ">
        </div>
    </div>
</section>

<section class="choose-area pt-100 pb-70 ">
    <div class="container ">
        <div class="section-title ">
            <h2 class="animated animate__swing" style="animation-delay:3s">{{'OurCoreValues' | translate}}</h2>
        </div>

        <div class="row align-items-center ">

            <div class="col-lg-6 ">
                <div class="choose-image ">
                    <img src="assets/img/pic/childern1.jpg " alt="image " class="animated animate__zoomIn text-sred" style="animation-delay:4.5s">
                    <!-- <div class="choose-image-shape ">
                        <div class="shape-1 ">
                            <img src="assets/img/who-we-are/choose-shape-1.png " alt="image ">
                        </div>
                        <div class="shape-2 ">
                            <img src="assets/img/who-we-are/choose-shape-2.png " alt="image ">
                        </div>
                        <div class="shape-3 ">
                            <img src="assets/img/who-we-are/choose-shape-3.png " alt="image ">
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class=" row animated animate__zoomIn text-sred" style="animation-delay:4.5s">
                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-choose ">
                            <div class="icon ">
                                <i class="fa fa-light fa-lightbulb "></i>
                            </div>

                            <div class="content ">
                                <h3>{{'CreativeActivities' | translate}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-choose ">
                            <div class="icon ">
                                <i class="fa fa-light fa-face-grin "></i>
                            </div>

                            <div class="content ">
                                <h3>{{'HappyEnvironment' | translate}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-choose ">
                            <div class="icon ">
                                <i class="fa fa-solid fa-futbol "></i>
                            </div>

                            <div class="content ">
                                <h3>Amazing Playground</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-choose ">
                            <div class="icon ">
                                <i class="fa fa-light fa-book "></i>
                            </div>

                            <div class="content ">
                                <h3>{{'ActiveLearning' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section mcb-section mcb-section-pq0szq3va  no-margin-h no-margin-v full-width" style="">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap mcb-wrap-pav2upl6t one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-zl16caeg9 one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/img/pic/sectionsep2.png" alt="kindergarten3-sectionsep1" title="" width="1920" height="200"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section mcb-section mcb-section-pq0szq3va  no-margin-h no-margin-v full-width" style="">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap mcb-wrap-pav2upl6t one  valign-top clearfix" style="">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-zl16caeg9 one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/img/pic/sectionsep1.png" alt="kindergarten3-sectionsep1" title="" width="1920" height="200"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="class-area pb-70">
    <div class="container mt-5">
        <div class="section-title ">
            <span style="font-size: 20px; " class="text-dark animated animate__swing" style="animation-delay:4.5s">{{'Lessons' | translate}}</span>
            <h2 class="text-sred animated animate__swing" style="animation-delay:4.5s">{{'LearnWithus' | translate}}</h2>
        </div>

        <div class="row ">
            <div class="col-lg-6 col-md-6 ">
                <div class="single-class card shadow ">
                    <div class="class-image ">
                        <a>
                            <img src="assets/img/classes/12.png " alt="image ">
                        </a>
                    </div>

                    <div class="class-content ">
                        <!-- <div class="price ">$880</div> -->
                        <h3>
                            <a>{{'Class1' | translate}}</a>
                        </h3>
                        <p>{{'Class1Desc' | translate}}</p>

                        <!-- <ul class="class-list ">
                            <li>
                                <span>Age:</span> 3-5 Year
                            </li>
                            <li>
                                <span>Time:</span> 8-10 AM
                            </li>
                            <li>
                                <span>Seat:</span> 25
                            </li>
                        </ul> -->

                        <div class="class-btn ">
                            <a [routerLink]="['lessons','lesson-details']" class="default-btn ">{{'JoinClass' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 ">
                <div class="single-class card shadow ">
                    <div class="class-image ">
                        <a>
                            <img src="assets/img/classes/cls1.png " alt="image ">
                        </a>
                    </div>

                    <div class="class-content ">
                        <!-- <div class="price ">$790</div> -->
                        <h3>
                            <a>{{'Class2' | translate}}</a>
                        </h3>
                        <p>{{'Class2Desc' | translate}}</p>

                        <!-- <ul class="class-list ">
                            <li>
                                <span>Age:</span> 3-5 Year
                            </li>
                            <li>
                                <span>Time:</span> 8-10 AM
                            </li>
                            <li>
                                <span>Seat:</span> 25
                            </li>
                        </ul> -->

                        <div class="class-btn ">
                            <a [routerLink]="[ 'lessons' ,'lesson-details']" class="default-btn ">{{'JoinClass' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="class-shape d-none d-md-block ">
        <div class="shape-1 ">
            <img src="assets/img/classes/class-shape-1.png " alt="image ">
        </div>
        <div class="shape-2 ">
            <img src="assets/img/classes/class-shape-2.png " alt="image ">
        </div>
    </div>
</section>



<!-- <section class="event-area bg-color pt-100 pb-70 ">
    <div style="padding: 0 8%; ">
        <div class="section-title ">
            <span>Events</span>
            <h2>Upcoming Events</h2>
        </div>

        <div class="row ">
            <div class="col-lg-6 ">
                <div class="event-box-item ">
                    <div class="row align-items-center ">
                        <div class="col-md-3 ">
                            <div class="event-image ">
                                <a><img src="assets/img/events/boy2.jpg " alt="image "></a>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="event-content ">
                                <h3>
                                    <a>Annual Cultural Programme</a>
                                </h3>
                                <ul class="event-list ">
                                    <li>
                                        <i class="bx bx-time "></i> 8:00 AM - 10:00 PM
                                    </li>
                                    <li>
                                        <i class="bx bxs-map "></i> New York 56 Glassford Street Glasgow
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="event-date ">
                                <h4>12</h4>
                                <span>September</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <div class="event-box-item ">
                    <div class="row align-items-center ">
                        <div class="col-md-3 ">
                            <div class="event-image ">
                                <a><img src="assets/img/events/girl1.PNG " alt="image "></a>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="event-content ">
                                <h3>
                                    <a>World Kids Day</a>
                                </h3>
                                <ul class="event-list ">
                                    <li>
                                        <i class="bx bx-time "></i> 8:00 AM - 10:00 PM
                                    </li>
                                    <li>
                                        <i class="bx bxs-map "></i> New York 56 Glassford Street Glasgow
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="event-date ">
                                <h4>18</h4>
                                <span>January</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="teacher-area pt-100 pb-70 ">
    <div class="container ">
        <div class="section-title ">
            <span>{{ 'OurCoreTeacher' |translate}}</span>
            <h2>{{ 'OurExpertTeacher' |translate}}</h2>
        </div>

        <div class="row ">
            <div class="col-lg-6 col-md-6 ">
                <div class="single-teacher-box ">
                    <div class="image ">
                        <img src="assets/img/who-we-are/1.jpg " alt="image " width="250px " style="margin-right:100px ">

                        <ul class="social ">
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-facebook "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-twitter "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-linkedin "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-instagram "></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="content ">
                        <h3>{{ 'Teacher1' | translate}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 ">
                <div class="single-teacher-box ">
                    <div class="image ">
                        <img src="assets/img/who-we-are/tea2.jpg " alt="image " width="250px ">

                        <ul class="social ">
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-facebook "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-twitter "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-linkedin "></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank ">
                                    <i class="bx bxl-instagram "></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="content ">
                        <h3>{{ 'Teacher2' | translate}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>