<header id="header" class="sticky-top mb-3">
    <div class="p-0">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="assets/logo11.png" width="100PX">
                </a>
                <button class="navbar-toggler text-white bg-sred" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars text-white m-1" aria-hidden="true"></i>
        </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100">
                        <li class="nav-item" *ngIf="!isUser">
                            <a class="nav-link mx-1" aria-current="page" [routerLink]="[ '/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'HomePage' | translate }}</a>
                        </li>
                        <li class="nav-item" *ngIf="isUser">
                            <a class="nav-link mx-1" [routerLink]="[ '/lessons']" routerLinkActive="active">{{'Lessons' | translate }}</a>
                        </li>
                        <li class="nav-item" *ngIf="isStudent">
                            <a class="nav-link mx-1" [routerLink]="[ '/student']" routerLinkActive="active">{{'StudentProfile' | translate }}</a>
                        </li>
                        <li class="nav-item" *ngIf="!isUser">
                            <a class="nav-link mx-1" [routerLink]="[ '/account/login']" routerLinkActive="active">{{'Login' | translate }}</a>
                        </li>
                        <li class="nav-item" *ngIf="isUser" (click)="logOut()">
                            <a class="nav-link mx-1" [routerLink]="[ '/account/login']" routerLinkActive="active">{{'LogOut' | translate }}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link mx-1" [routerLink]="[ '/about-us']" routerLinkActive="active">{{'AboutUs' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-1" [routerLink]="[ '/contact']" routerLinkActive="active">{{'Contact' | translate }}</a>
                        </li> -->


                        <!-- <li class="nav-item" (click)="utility.changeLang('en')">
                            <a class="nav-link mx-1">{{ 'EN' | translate }}</a>
                        </li> -->
                        <!-- <li class="nav-item" (click)="utility.changeLang('ar')">
                            <a class="nav-link mx-1">{{ 'AR' | translate }}</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="pt-100">
    <router-outlet></router-outlet>
</div>





<div class="d-none">


    <div class="section mcb-section mcb-section-pq0szq3va  no-margin-h no-margin-v full-width" style="">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-pav2upl6t one  valign-top clearfix" style="">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-zl16caeg9 one column_image">
                        <div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
                            <div class="image_wrapper"><img class="scale-with-grid" src="assets/img/pic/sectionsep2.png" alt="kindergarten3-sectionsep1" title="" width="1920" height="200"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="row justify-content-center align-items-center section-cover mx-0 px-0" id="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <p>School</p>
                </div>
                <div class="col-md-8">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0 d-flex justify-content-end flex-row">
                        <li class="nav-item">
                            <a class="nav-link mx-1 text-white" aria-current="page" [routerLink]="[ '/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{'HomePage' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-1 text-white" [routerLink]="[ '/teacher']" routerLinkActive="active">{{'Teacher' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-1 text-white" [routerLink]="[ '/lessons']" routerLinkActive="active">{{'Lessons' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-1 text-white" [routerLink]="[ '/events']" routerLinkActive="active">{{'Events' | translate }}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>